.test-form {
    &__wrap {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }

    &__form {
        display: flex;
        flex-flow: column;
    }

    &__errors {
        color: red;
    }

    &__posts {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }

    &__title {
        font-weight: bold;
    }

    &__button {
        padding: 6px 12px;
        color: white;
        background: black;
        transition: background-color 250ms ease;

        &:hover,
        &:focus {
            color: white;
            background: rgba(black, 0.9);
        }
    }
}