<template>
  <div class="test-form__wrap">
    <form class="test-form__form" @submit.prevent="savePost">
      <input class="test-form__input input" v-model="title" placeholder="Title" />
      <input class="test-form__input input" v-model="content" placeholder="Content" />
      <input  class="test-form__input input" v-model="field" placeholder="Field" />
      <button class="test-form__button button" @click="checkForm" type="submit">Submit</button>
    </form>
    <ul v-if="errors.length" class="test-form__errors">
      <li v-for="error in errors" :key="error.id">{{ error.text }}</li>
    </ul>
    <h3 class="test-form__title title">Latest Posts: {{ count }}</h3>
    <div class="test-form__posts">
      <div class="test-form__post" v-for="post in posts" :key="post.id">
        <div class="test-form__post-title">{{ post.attributes.title.rendered }}</div>
        <div class="test-form__post-content" v-html="post.attributes.content.rendered"></div>
        <div class="test-form__post-field">{{ post.attributes.acf.field }}</div>
      </div>
    </div>
  </div>
</template>

  <script>
  export default {
    data() {
      return {
        posts: [],
        title: '',
        content: '',
        field: '',
        errors: [],
      };
    },
    computed: {
      count: function () {
        return this.posts.length
      }
    },
    methods: {
      getPosts() {
        let postsCollection = new wp.api.collections.Posts();

        postsCollection
          .fetch({ data: { per_page: 100 } })
          .then(() => {
            this.posts = postsCollection.models;
          });
      },
      savePost() {
        const post = new wp.api.models.Post({
          status: 'publish',
          title: this.title,
          content: this.content,
          acf: {
            field: this.field
          },
        });

        post.save();

        this.posts.unshift(post);

        this.title = '';
        this.content = '';
        this.field = '';
        this.errors = [];
      },
      checkForm(e) {
        if (this.title && this.content && this.field) {
          return true;
        }

        e.preventDefault();

        this.errors = [];

        if (!this.title) {
          this.errors.push({id: 1, text: 'Title is required.'})
        }

        if (!this.content) {
          this.errors.push({id: 2, text: 'Content is required.'})
        }

        if (!this.field) {
          this.errors.push({id: 3, text: 'Field is required.'})
        }
      },
    },
    mounted: function() {
      this.getPosts();
    },
  };
  </script>